<div class="pager">
    <% if(pageInfo.pageCount == 1) { %>
        <a href="javascript:void(0);" title="已经是第一页了">上一页</a>
    <% } else { %>    
        <a href="/?pagecount=<%= pageInfo.pageCount - 1 %>" title="上一页">上一页</a>
    <% } %>
    
    <% if(pageInfo.pageCount == pageInfo.pageTotalCount) { %>
        <a href="javascript:void(0);" title="已经是最后一页了">下一页</a>
    <% } else { %>       
        <a href="/?pagecount=<%= pageInfo.pageCount + 1 %>" title="下一页">下一页</a>
    <% } %>
</div>